

  .container {
    max-width: 800px;
    margin-top: 0.5rem;
    margin-left: 10%;
    background-color: #24292D ;
    padding: 1rem;
  }

  .container form{
    
    color: aliceblue;
    background-color: #484E55;
    margin-left: 15rem;
    width: 500px;
    border: 2px black solid;
    padding: 2rem;
    border-radius: 10px;
  }
  
  .container form h2{
    
   text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: 400;
  }
  
  .container form .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    background-color: #24292D;
    border-radius: 12px;
    color: white;
  
  }

  .container form .form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #24292D;
    border-radius: 12px;
  }

  .container form button{

    margin-left: 15rem;
    margin-top: 1rem;
    background-color: #F70F5D;
    border-radius: 10px;
    width: 10rem;
  }

  /* .container form .form-control::placeholder {
   color: antiquewhite;
  } */
