
.search-artist-container .artist-box{

    max-width: 16rem;
    /* max-height: 20rem; */
    height: auto;
    /* border: #7643D2 0.5px solid; */
    margin-left: 4rem;
    border-radius: 8%;
    padding: 1rem;
    background-color: #3B444D;
    margin-top: 2rem;
    
  }

  .search-artist-container .artist-box .image{

    width: auto;
    max-height: 15rem;
    overflow: hidden;

  }

  

  .artist-box .image img{

    margin-top: 1rem ;
    margin-left: 1.5rem;
    width: 80%;
    border-radius:50%;
  }

  .artist-box .content{

    position: relative;
    color: white;
  margin-top: 2rem;

  }

  .artist-box .content .star-rating{

    display: flex;
    align-items: center;
    margin-left: 2.5rem;
  }

  .artist-box .content .filled-star,.empty-star{

    color: gold;
    font-size: 1rem;
    margin-left: 0.5rem;
  }


  .artist-box h5{

    margin-top: 1rem;
    text-align: center;
    color: white;
    
  }





  .search-artist-container .artist-box
 {
    /* Your existing styles */
    /* ... */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Styling for .col-md-3 when hovered */
.search-artist-container .artist-box:hover
 {
    background-color: black; /* Change background color on hover */
    /* Additional hover-specific styles */
    /* ... */
}


.search-artist-container .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c2126;
  padding: 2rem 0;
 
}

/* Styles for the search bar */
.search-artist-container .searchbar {
  display: flex;
  align-items: center;
  background-color: #1c2126;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the search input field */
.search-artist-container .searchbar input {
  border: none;
  outline: none;
  padding: 0.5rem;
  flex: 1;
}

.search-artist-container .searchicon{

position: absolute;
margin-right: -10rem;
font-size: 20px;
}

.search-artist-container .searchbar input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}