.mainContainer .organizerViewEvent {

  .view-events-container .event-box {}

  .view-events-container .event-box .image {

    width: auto;
    max-height: 15rem;
    overflow: hidden;

  }



  .event-box .image img {
    width: 100%;
    border-radius: 8%;
  }

  .event-box .content {
    color: white;
    position: relative;
  }


}



.content.newrow {

  .event-box.col-md-3 h5 {

    margin-top: 1rem;
    text-align: center;
    color: white;

  }