.view-event-history-container{

    color: white;
}

.view-event-history-container .hist-table{

    color: white;
    margin-left: 12rem;
    margin-top: 10rem;
    max-width: 60rem;
    height: 30rem;
    background-color: #484E55;
    padding: 4rem;
    /* padding-top: 0rem; */
    border-radius: 10px;
}

.view-event-history-container .hist-table .history-table-data-row{

    /* align-items:center; */
    padding: 10px;
    
}

.hist-table .title-row{
    font-weight: bold;
    background-color: #2F363E;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}


.hist-table .event-name, .hist-table .event-type , .hist-table .event-location , .hist-table .event-date{

    flex:1;
    text-align: center;
}

.hist-table .data-row{

    background-color: #24292D;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
