#tableEvents{
    top: 7%;
    left: 250px;
    font-family: Dosis;
    position: absolute;
    --bs-table-bg: none !important;
    font-size: 22px;
    width: 60%;
}
#tableEvents tr{
    width: 10%;
    height: 40%;
    border-bottom: #7643D2 solid 3px !important;
    

    
}


.table-hover>tbody>tr:hover>* {
    --bs-table-color-state: none !important;
    --bs-table-bg-state: none !important;
}



#tableEvents td{
    position: relative;
    left: 19px;
    width: 50%;
    text-align: left !important;
}
#tableEvents tr:hover{
    background-color: unset !important;
 }

#aboutUSviewbtn1{
    background-color: aliceblue !important;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 88%;    
    width: 50px;
    height: 50px;
    border-radius: 50%;
    

}
#aboutUSviewbtn2{
    background-color: aliceblue !important;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 88%; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    

}
#aboutUSviewbtn3{
    background-color: aliceblue !important;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 88%; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    

}
#aboutUSviewbtn4{
    background-color: aliceblue !important;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 88%; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    

}#aboutUSviewbtn5{
    background-color: aliceblue !important;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 88%; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    

}#aboutUSviewbtn6{
    background-color: aliceblue !important;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    left: 88%; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    

}

#payments{
    position: relative;
    left: 8%;
    width: 85%;
}