.mainEventContainer{
    margin-left: 5.1rem;
    background: #24292D;
    width: 1455px;
    height: 728px;
    flex: 3;
    position: fixed;
}

.requestContainerArtistEvent {
  background-color: #3b444d;
  height: 80px;
  width: 70%;
  position: relative;
  top: 187px;
  left: 18%;
  margin-bottom: 20px;
  border-radius: 25px;
    }

    
.requestContainerArtistEvent:hover {
 transform: scale(1.1,1.1);
  }

  .profileArtistEvent {
    position: relative;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    top: 11.5px;
    left: -444px;
  }

  .eventDetailsArtistEvent h4 {
    position: relative;
    top: -31px;
    width: 250px;
    margin-left: 15%;
    color: white;
  }

  .artistEventTypeArtistEvent {
    
    position: absolute;
    font-size: 15px;
    width: 21%;
    height: 5%;
    text-align: center;
    color: white;
    border-radius: 10px;
    left: 36%;
    top: 29px;
    
  }

  .eventDateArtistEvent {
    position: relative;
    margin-top: -3.2%;
    left: 12%;
    top: -30px;
    color: white;
  }

  .venueArtistEvent {
    position: relative;
    margin-top: -3.2%;
    left: 27%;
    top: -37px;
    color: white;
  }

 .viewBtnArtistEvent{
    background-color: #F70F5D !important;
    position: relative;
    font-size: 15px;
    width: 7%;
    height: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    left: 42%;
    top: -81.8px;
    border-radius: 10px;
    border: none !important;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, .4) !important;
  }

  .artistEventTypeImg{
    position: relative;
    top: -4px;
    left: -7%;
    width: 21px;
    color: white;
  }