.artistEarningOverviewHeader{
    color: #FFF;
    font-family: Dosis;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2%;
    margin-left: -62%;
}
.apexcharts-gridlines-horizontal line{
    opacity: 0.5;
}
.apexcharts-yaxis-texts-g text{
    color: #FFF !important;
}