.mainArtistDashboard{
    display: flex;
    
}

.artistSideBarOne{
    margin-left: -1.9rem;
    background: #24292D;
    width: 1455px;
    height: 728px;
}


.headerDashboard{
    color: #FFF;
    font-family: Dosis;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: relative;
    top: 6%;
    left: 6%;
    width: 165px;
   
}
.notificationBg{
    width: 65px;
    height: 58px;
    border-radius: 25px;
    background: #3B444D;
    position: absolute;
    top: 5%;
    left: 74%;
}
.homeBg{
    width: 65px;
    height: 58px;
    border-radius: 25px;
    background: #3B444D;
    position: absolute;
    top: 5%;
    left: 81%;
}
.logoutBg{
    width: 170px;
    height: 58px;
    border-radius: 25px;
    background: #3B444D;
    position: absolute;
    top: 5%;
    left: 88%;
}
.notificationIcon{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 5px;
    left: 8px;
}
.homeIcon{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 4px;
    left: 8px;
}
.logout{
    width: 48px;
    height: 48px;
    position: absolute;
    top: 5px;
    left: 8px;
}
.logoutbtn{
    color: #FFF;
    font-family: Dosis;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 14px;
    left: 71px;
}
