.mainEventContainer{
    margin-left: 5.1rem;
    background: #24292D;
    width: 1455px;
    height: 728px;
    flex: 3;
    position: fixed;
}

.requestContainerArtistEvent {
  background-color: #3b444d;
  height: 80px;
  width: 70%;
  position: relative;
  top: 187px;
  left: 18%;
  margin-bottom: 20px;
  border-radius: 25px;
    }

    
.requestContainerArtistEvent:hover {
 transform: scale(1.1,1.1);
  }

  .profileArtistEvent {
    position: relative;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    top: 11.5px;
    left: -447px;
  }

  .eventDetailsArtistEvent h4 {
    position: relative;
    top: -31px;
    width: 250px;
    margin-left: 15%;
    color: white;
  }

  .artistEventTypeArtistEvent {
    
    position: absolute;
    font-size: 15px;
    width: 21%;
    height: 5%;
    text-align: center;
    color: white;
    border-radius: 10px;
    left: 51%;
    top: 29px;
    
  }

  .eventDateArtistEvent {
    position: relative;
    margin-top: -3.2%;
    left: -2%;
    top: -30px;
    color: white;
  }

  .venueArtistEvent {
    position: relative;
    margin-top: -3.2%;
    left: 23%;
    top: -34px;
    color: white;
  }

 .viewBtnArtistEvent{
  background-color: #F70F5D !important;
  position: relative;
  font-size: 15px;
  width: 8%;
  height: 39px;
  font-weight: bold;
  text-align: center;
  color: white;
  left: 39%;
  top: -81.8px;
  border-radius: 10px;
  border: none !important;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4) !important;
  }

  .artistEventTypeImg{
    position: relative;
    top: -4px;
    left: -7%;
    width: 21px;
    color: white;
  }

  .artistEventSearchBar{
    position: absolute;
    top: 114px;
    left: 426px;
    width: 664px;
    height: 55px;
    border-radius: 10px;
    padding-left: 50px;
  }
  .artistEventSearchBarIcon{
    color: gray;
    position: absolute;
    top: 131px;
    left: 1038px;
    font-size: 24px;
    cursor: pointer;
  }

  .artistEventPagination{
    position: absolute !important;
    top: 600px !important;
    left: 699px !important;
  }

  .css-19micn4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected{
    background-color: #7643D2 !important;
    
  }