 /* .carousel {
     width: 700px;
     position: absolute;
     top: 86px;
     left: 3.6%;

 }

 .mainContainer-NX .carousel {
     width: 990px;

 } */

 .mainContainer-NX .organizerDashboardCarousel {
     width: 1010px;
     left: 3%;
 }

 .organizerDashboardCarousel {
     width: 805px;
     position: absolute;
     top: 86px;
     left: 3%;
 }