.profile {
    position: relative;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    top: 36.5px;
    left: -458px;
}

.requestContainer .profile1 {
    position: relative;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    top: 36.5px;
    left: 71px;
}

/* body{

    text-align: center;

} */


.eventDetails {
    position: relative;
    color: white;
    font-size: 15px;
    text-align: center;
}

.eventDetails h5 {
    position: relative;
    top: -6px;
    width: 250px;
    margin-left: 10.5%;
}

.eventDetails .eventDate {
    position: absolute;
    margin-top: -3.2%;
    left: 55%;
}

.eventDetails .eventType {
    position: absolute;
    margin-top: -3.2%;
    left: 35%;
}

.eventDetails .venue {
    position: absolute;
    margin-top: -3.2%;
    left: 70%;

}

.viewBtn {
    background-color: #7643D2 !important;
    position: relative;
    font-size: 15px;
    width: 8%;
    height: 43px;
    font-weight: bold;
    text-align: center;
    color: white;
    left: 40%;
    top: -48.8px;
    border-radius: 10px;
    border: none !important;
    /* box-shadow: 4px 7px 10px rgba(0, 0, 0, .4) !important; */
}

.viewBtn1 {
    background-color: #7643D2 !important;
    position: relative;
    font-size: 15px;
    width: 8%;
    height: 43px;
    font-weight: bold;
    text-align: center;
    color: white;
    left: 957px;
    top: -48.8px;
    border-radius: 10px;
    border: none !important;
    /* box-shadow: 4px 7px 10px rgba(0, 0, 0, .4) !important; */
}

.requestContainer {
    background-color: #3b444d;
    height: 15%;
    width: 70%;
    position: relative;
    top: 187px;
    left: 14%;
    margin-bottom: 20px;
    border-radius: 25px;

}

#LocationIconPendingRequest {

    position: relative;
    left: -1%;
    padding-right: 5px;

}



#EventIconPendingRequest {
    position: relative;
    left: -1%;
    padding-right: 10px;
}

#CalenderIconPendingRequest {
    position: relative;
    left: -1%;
    padding-right: 10px;

}


/* Pending Request view page styles */

.profileView1 {

    position: relative;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    top: 30px;
    left: -328px;


}

.requestViewContainer {
    background-color: #3b444d;
    height: 70%;
    width: 60%;
    position: absolute;
    top: 140px;
    left: 20%;
    border-radius: 25px;
    text-align: center;

}

.eventDetailsContainer {
    background-color: #000000;
    height: 60%;
    width: 45%;
    position: relative;
    top: -35px;
    left: 16%;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 25px;
}

.priorbookingsBtn {
    background-color: #7643D2 !important;
    position: relative;
    font-size: 15px;
    width: 15%;
    height: 8%;
    font-weight: bold;
    text-align: center;
    color: white;
    left: 45%;
    top: -277px;
    border-radius: 10px;
    border: none !important;

}

.myEventsBtn {
    background-color: #FFFFFF !important;
    position: relative;
    font-size: 15px;
    width: 15%;
    height: 8%;
    font-weight: bold;
    text-align: center;
    color: #000000 !important;
    left: 30%;
    top: -187px;
    border-radius: 10px;
    border: none !important;

}

.acceptBtn {
    background-color: #1BD067 !important;
    position: relative;
    font-size: 15px;
    width: 8%;
    height: 8%;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: none !important;
    left: -32%;
    top: -17px;
}

.rejectBtn {
    /* background-color: none !important; */
    --bs-btn-bg: none !important;
    position: relative;
    font-size: 15px;
    width: 8%;
    height: 8%;
    font-weight: bold;
    text-align: center;
    background-color: #3b444d !important;
    left: -22%;
    top: -17px;
    border-radius: 10px;
    border: 3px solid #FF0000 !important;
    --bs-btn-hover-bg: none !important;
    --bs-btn-active-color: none !important;
    --bs-btn-active-bg: none !important;
    --bs-btn-active-border-color: none !important;
    --bs-btn-active-shadow: none !important
}

.paraRequestName {
    font-size: 20px;
    color: #FFFFFF;
    position: relative;
    top: -4%;
    left: -20%;
}


.requestViewContainer h4 {
    color: #11fe70;
    position: relative;
    top: -12.2%;
    left: -10px;

}


.EventIconPendingRequest1 {
    position: relative;
    width: 20px;
    height: 20px;
    left: -1px;
    padding-right: 7px;
    top: -2px;

}

.CalenderIconPendingRequest2 {
    position: relative;
    width: 20px;
    height: 20px;
    left: -3px;
    padding-right: 6px;
    top: -2px;
}

.EventIconPendingRequest2 {
    position: relative;
    width: 20px;
    height: 20px;
    left: -6px;
    padding-right: 2px;
    top: -2px;

}

#LocationIconPendingRequest1 {

    position: relative;
    left: -1%;
    padding-right: 5px;

}


#CalenderIconPendingRequest1 {
    position: relative;
    left: -1%;
    padding-right: 10px;

}

#LocationIconPendingRequest2 {

    position: relative;
    left: -1%;
    padding-right: 5px;

}

/* #EventIconPendingRequest2{
    position: relative;
    left: -1%;
    padding-right: 10px;
}

#CalenderIconPendingRequest2{
    position: relative;
    left: -1%;
    padding-right: 10px;

} */

.eventDate1 {
    position: absolute;
    left: 20%;
    top: 30%;
}

.eventType1 {
    position: absolute;
    left: 20%;
    top: 20%;
}

.venue1 {
    position: absolute;
    top: 40%;
    left: 20%;

}

.eventDate2 {
    position: absolute;
    top: 50%;
    left: 20%;
}

.eventType2 {
    position: absolute;
    top: 60%;
    left: 20%;
}

.venue2 {
    position: absolute;
    top: 70%;
    left: 20%;

}

.MainContainer {}

.pagination {

    position: absolute;
    top: 90%;
    left: 10%;


}