#dateFrom{
  
        background-color: #ffffff !important;
        position: absolute;
        font-size: 15px;
        width: 7%;
        height: 3%;
        font-weight: bold;
        text-align: center;
        color: #000000 !important;
        border-radius: 10px;
        border: none !important;
        left:12%;
        top: 127px;

    
}
.MainContainer{

    position: fixed;
    height: 100%;
    width: 100%;
    background: #24292D;

}


#fromdate{

   
    position: absolute;
    width: 7%;
    height: 3%;
    left:20%;
    top: 127px;


}

#todate{

   
    position: absolute;
    width: 7%;
    height: 3%;
    left:40%;
    top: 127px;


}

#Today{
        background-color: #ffffff !important;
        position: absolute;
        font-size: 15px;
        width: 7%;
        height: 3%;
        font-weight: bold;
        text-align: center;
        color: #000000 !important;
        border-radius: 10px;
        border: none !important;
        left: 32%;
        top: 127px;

}

.eventTypeSelection{

        background: #ffffff !important;
        position: absolute;
        font-size: 15px;
        width: 6%;
        height: 5%;
        font-weight: bold;
        text-align: center;
        color: #000000 !important;
        border-radius: 10px;
        border: none !important;
        left: 52%;
        top: 127px;
        --bs-btn-active-color: #7643D2 !important;
    
        

}

#selector{
    position: absolute;
    font-size: 15px;
    width: 6%;
    height: 3%;
    left: 52%;
    top: 127px;
    font-weight: bold;
    border-radius: 10px;
    --bs-btn-active-border-color: #7643D2 !important;
}


.download{
    background-color: #7643D2 !important;
    position: absolute;
    font-size: 15px;
    width: 8%;
    height: 5%;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    border: none !important;
    left: 80%;
    top: 70%;
 


}

.artistContainer{
    height: 820px;
}


#CalenderReport{
    position: relative;
    left: -1%;
    padding-right: 10px;
}


/* .ReportTable{
    position: absolute;
    top: 28%;
    width: 60% !important;
    left: 20%;
    color: #ffffff !important;
    background-color: none !important;
} */

/* .ReportTable label{
    color: #ffffff;
}

.ReportTable select{
  
    width: 50px;
    left: 50px;
} */



#ReportTable{
    width: 80% !important;
    position: absolute;
    top: 30% !important;
    left: 12.5% !important;
    
   

    --bs-table-border:none ;
    border-collapse: separate;
    border-spacing: 0 15px;
    background-color: none !important;
    --bs-table-color: #ffffff !important;
    --bs-table-color-type: none !important; 
    justify-content: center;
    --bs-table-bg: none !important;
    text-align: center !important; 
  
}

#ReportTable thead{
    /* background: #000000 !important;
    color: #ffffff !important; */
     --bs-table-bg: #2F363E;
     --bs-table-color: #ffffff;
}

.MainContainer{

    position: fixed;
    height: 100%;
    width: 100%;
    background: #24292D;

}


#ReportTable tbody{
    --bs-table-bg:#5F5C5C;
}


#ReportTable tr, td, th{

    padding: 15px 10px 15px 10px !important;
    
    margin: auto;
    text-align: center !important;
    height: 23px;
    
    border: none;
    --bs-table-striped-bg: #5F5C5C;
    --bs-table-color: #ffffff !important;
    --bs-table-color-type: none !important;  


    
    }


