.MainContainer {}

.InvoiceContainer {
    position: absolute;
    width: 50%;
    left: 12.5%;
    height: 82%;
    top: 15%;
    background: #292d31;
    color: #ffffff;
    border-radius: 25px;
}

.InvoiceContainer h1 {
    position: relative;
    font-weight: 500;
    top: 10%;
}

.MainContainer {}



.currency-input11 {
    position: relative;
    top: 97px;
    left: 393px;

    width: 242px;
    height: 28px;
    border-radius: 10px;

    background: #D9D9D9;
    border: #D9D9D9;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.currency-input12 {
    position: relative;
    top: 139px;
    left: 152px;
    width: 242px;
    height: 28px;
    border-radius: 10px;

    background: #D9D9D9;
    border: #D9D9D9;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.currency-input13 {
    position: relative;
    top: 180px;
    left: -88px;
    width: 242px;
    height: 28px;
    border-radius: 10px;

    background: #D9D9D9;
    border: #D9D9D9;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.currency-input14 {
    position: relative;
    top: 192px;
    left: 276px;
    width: 242px;
    height: 28px;
    border-radius: 10px;

    background: #D9D9D9;
    border: #D9D9D9;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.currency-input15 {
    position: relative;
    top: 233px;
    left: 35px;
    width: 242px;
    height: 28px;
    border-radius: 10px;

    background: #D9D9D9;
    border: #D9D9D9;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.DescriptionLable .label11 {
    position: absolute;
    top: 43px;
    left: 96px;  
    width: 249px;
    height: 33px;
    font-size: 18px;
    font-weight: 700;
    background: black;
    color: #ffffff;
    border-radius: 10px;
}

.AmountLabel .label17 {
    position: absolute;
    top: 42px;
    left: 390px;
    width: 249px;
    height: 33px;
    font-size: 18px;
    font-weight: 700;
    background: black;
    color: #ffffff;
    border-radius: 10px;
}

.DescriptionLable .label12 {
    position: absolute;
    top: 96px;
    left: 97px;
    width: 249px;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background: #D9D9D9;
    border-radius: 10px;

}

.headerDashboard {
    width: 280px;
}

.label13 {
    position: absolute;
    top: 140px;
    left: 97px;
    width: 249px;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background: #D9D9D9;
    border-radius: 10px;

}

.DescriptionLable .label14 {
    position: absolute;
    top: 180px;
    left: 98px; 
    width: 249px;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border-radius: 10px;
    background: #D9D9D9;

}

.DescriptionLable .label15 {
    position: absolute;
    top: 220px;
    left: 100px;   
    width: 249px;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background: #D9D9D9;
    border-radius: 10px;


}

.DescriptionLable .label16 {
    position: absolute;
    top: 261px;
    left: 101px; 
    width: 249px;
    height: 28px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    background: #D9D9D9;
    border-radius: 10px;


}

.HrTag1 {
    position: absolute;
    height: 2px;
    width: 699px;
    top: 318px;
    left: 17px;
    background: #ffffff;
    color: #ffffff;
}

.totalAmount1 {
    position: absolute;
    top: 362px;
    left: 103px;
    width: 249px;
    height: 33px;
    font-size: 18px;
    font-weight: 700;
    background: black;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}

.displayTotalAmount1 {
    position: absolute;
    top: 362px;
    left: 405px;
    width: 249px;
    height: 33px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    background: #1BD067;
    border-radius: 10px;
    text-align: center;
    padding: 3px;
}

#advanced1 {
    position: absolute;
    top: 419px;
    left: -25px;
    width: 240px;
    height: 24px;
    font-size: 18px;
    font-weight: 700;
    color: #7643D2;
    /*background: #1BD067;
    border-radius: 10px;
    text-align: center;
    justify-content: center; */

}

.advancedpayment1 {
    position: absolute;
    top: 417px;
    left: 85px;
    width: 249px;
    height: 33px;
    font-size: 18.5px;
    font-weight: 400;
    color: white;

}

.submitInvoice1 {
    background-color: #1BD067 !important;
    position: absolute;
    font-size: 15px;
    width: 15%;
    height: 7%;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: none !important;
    left: 414px;
    top: 469px;
}

.backInvoice1 {

    position: relative;
    font-size: 15px;
    width: 8.5%;
    height: 6%;
    font-weight: bold;
    text-align: center;
    color: #000000;
    left: 361px;
    top: -534px;
    border-radius: 10px;
    z-index: 10;
    border: 3px solid #FF0000 !important;
    background: none;
}

.previewInvoice1 {
    position: absolute;
    font-size: 15px;
    width: 15%;
    height: 7%;
    border: none !important;
    font-weight: bold;
    text-align: center;
    color: #000000;
    left: 214px;
    top: 469px;
    border-radius: 10px;

    background: #7643D2;

}

.profileInvoice {
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: -12.5px;
    left: -125px;

}


.eventDetailsDisplayContainer {
    position: absolute;
    top: 25%;
    left: 68%;
    width: 25%;
    height: 60%;
    border-radius: 25px;

}

.eventDetailsDisplayInnerContainer1 {

    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    color: #ffffff;
    background: #292d31;
    border-radius: 25px;

}

.eventDetailsDisplayInnerContainer1 #bandOrganizer {
    position: absolute;
    top: 24px;
    left: 22%;
    font-weight: bold;


}


.eventDetailsDisplayInnerContainer1 .eventType1 {
    position: absolute;
    left: 20%;
    top: 30%;
}

.eventDetailsDisplayInnerContainer1 .eventDate1 {
    position: absolute;
    left: 20%;
    top: 40%;
}

.eventDetailsDisplayInnerContainer1 .venue1 {
    position: absolute;
    left: 20%;
    top: 50%;
}

.eventDetailsDisplayInnerContainer1 .eventType2 {
    position: absolute;
    left: 20%;
    top: 60%;
}

.eventDetailsDisplayInnerContainer1 .eventDate2 {
    position: absolute;
    left: 20%;
    top: 70%;
}

.eventDetailsDisplayInnerContainer1 .venue2 {
    position: absolute;
    left: 20%;
    top: 80%;
}

/* .eventDetailsDisplayInnerContainer1 #EventIconPendingRequest1{
    position: relative;
    margin-right: 5px;
 } */