.containerForElements{
    position: absolute;
    text-align: center;


}


#left{
    text-align: center;
    position: absolute;
    top: 100px;
    left: 300px;
    width: 850px;
    height: 680px;
    color: #ffffff;
    /* border: 2px dashed #ffff; */
    background-color: #2f363e;
    border-radius: 25px;
}

#left h1{
    position: absolute;
    top: 30px;
    left: 321px;
    
}

#left h5{
    position: absolute;
    background-color: #D9D9D9;
    color: #000000;
    top: 220px;
    width: 100%;
    font-weight: bold;
}
.commandRules{
    position: absolute;
    font-size: 18px;
    color: red;
    left: -189px;
    top: 259px;
    width: 100%;
    font-weight: bold;


}
.bandNameLable{

    position: absolute;
    top: 100px;
    left:100px;
    font-size: 18px;
}
.bandName{
    position: absolute;
    top: 100px;
    left: 215px;
    font-size: 18px;
    color: #1BD067;

}
.bandAddressLable{
    position: absolute;
    top: 130px;
    left: 100px;
    font-size: 18px;

}
.bandAddress{

    position: absolute;
    top:130px;
    left:185px;
    font-size: 18px;
    color: #1BD067;

}

.bandEmailLable{
    position: absolute;
    font-size: 18px;
    top:160px;
    left:100px;

}

.bandEmail{
    position: absolute;
    top:160px;
    font-size: 18px;
    left:170px;
    color: #1BD067;


}



.containerForElements #backAgreement{
    
    position: relative;
    font-size: 15px;
    width: 15%;
    height: 7%;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    left: 132px;
    top: 400px;
    border-radius: 10px;
    border: 3px solid #FF0000 !important;
    background: none;
}


.rulesForAgreement #advanced1{
    position: absolute;
    top: 311px;
    left: 84px;
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;


}
.rulesForAgreement .rule1{
    position: absolute;
    top: 307px;
    left: 88px;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;

}

.rulesForAgreement #advanced2{
    position: absolute;
    top: 311px;
    left: 484px;
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;


}

.rulesForAgreement .rule2{
    position: absolute;
    top: 307px;
    left: 488px;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;

}



.rulesForAgreement #advanced3{
    position: absolute;
    top: 368px;
    left: 84px;
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;


}
.rulesForAgreement .rule3{
    position: absolute;
    top: 366px;
    left: 88px;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;

}
.rulesForAgreement #advanced4{
    position: absolute;
    top: 368px;
    left: 484px;
    width: 20px;
    height: 20px;
    background-color: #D9D9D9;


}

.rulesForAgreement .rule4{
    position: absolute;
    top: 366px;
    left: 488px;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
}

.rulesForAgreement .otherRules{
    position: absolute;
    top: 434px;
    left: 23px;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}


.rulesForAgreement #advanced7{
    position: absolute;
    top: 428px;
    left: 231px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none !important;
    /* background-color: #D9D9D9; */


}
 .signatureLable{
    position: absolute;
    top: 534px;
    left: 4px;
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
}


.clearBtn{
    position: absolute;
    top: 99px;
    left: 361px;
    width: 107px;
    height: 40px;
    font-size: 18px;
    color: red !important;
    font-weight: bold;
    background-color: #2f363e;
    border-radius: 5px;
    border: 2px solid red;

}

.saveBtn{
    position: absolute;
    top: 19px;
    left: 361px;
    width: 107px;
    height: 40px;
    font-size: 18px;
    color: green !important;
    font-weight: bold;
    background-color: #2f363e;
    border-radius: 5px;
    border: 2px solid green;

}


.submitAgreement{

    background-color: #1BD067 !important;
    position: absolute;
    font-size: 15px;
    width: 15%;
    height: 7%;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: none !important;
    left: 777px;
    top: 495px;

}

.previewAgreement{
    background-color: #1b24d0 !important;
    position: absolute;
    font-size: 15px;
    width: 15%;
    height: 7%;
    font-weight: bold;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: none !important;
    left: 924px;
    top: 495px;
}