.listOfBand{
    width: 100%;
    height: 434px;
    /* opacity: 0.7; */
    position: absolute;
    top: 265%;
    
}
.listofBandBg{
    background-color: black;
    width: 100%;
    height: 434px;
    opacity: 0.7;
    position: absolute;
    top: 265%;
}
.listOfBand .swiper{
    width: 92%;
    position: absolute;
    top: 100px;
    left: 58px;
}
.listOfBand .swiper-wrapper{
    height: 271px;
    width: 1540px;
}
.listOfBand .swiper-slide{
    width: 236px !important;
}

.artistSlide1{
    width: 236px;
    height: 271px;
    position: absolute;
    top: 0%;
    left: 0%;
}
.artist1Pic{
    width: 236px;
    height: 271px; 
    
}
.reviewBox{
    width: 236px;
    height: 119px;
    background: rgba(82, 46, 148, 0.80);
    position: absolute;
    top: 57%;
    left: 0%;
    z-index: 100;
}
.artist1Name{
    display: flex;
    width: 263px;
    height: 45px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 20px;
    position: absolute;
    top: 11%;
    left: -5%;
}
.facebookArtist{
    width: 22.1px;
    height: 28.796px;
    position: absolute;
    top: 45%;
    left: 17%;
    color: #FFF;
}

.twiterArtist{
    width: 22.1px;
    height: 28.796px;
    position: absolute;
    top: 45%;
    left: 47%;
    color: #FFF;
}
.linkedinArtist{
    width: 22.1px;
    height: 28.796px;
    position: absolute;
    top: 45%;
    left: 73%;
    color: #FFF;
}
.colorStars{
    color: yellow;
    padding-left: 8px;
}
.starList{
    position: absolute;
    top: 73%;
    left: 26%;
}
.bandHeader{
    display: flex;
    width: 216px;
    height: 65px;
    flex-direction: column;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 17px;
    left: 643px;
    z-index: 100;
}
