#backgroundimage{
  
    width: 100%;
    height: 50%;
    top: 0;
    position: absolute;
    left: 0;
    
  
}

#tableEvent{
    top: 14%;
    left: 5%;
    font-family: Dosis;
    position: absolute;
    --bs-table-bg: none !important;
    font-size: 20px;
    width: 90%;
    text-align: center !important;
    



}
#firstTD{
    position: absolute;
    width:10px;
}

#eventImage{
   position: relative;
   width: 40%;
   display: block;
  
   
  

}
#LocationIcon{

    position: relative;
    right: 3%;
}

#tableEvent tr{
    width: 20%;
    height: 40%;
    text-align: center !important;
    border-bottom: #7643D2 solid 3px !important;

    
}

#tableEvent td{
    top: 5%;
    width: 20%;
    height: 30%;
    text-align: center;
    padding-top: 20px;
}

#selectionMenu{
    top: 6%;
    width: 10%;
    left: 30%;
    position: absolute;
    background-color:rgba(3, 3, 3, 0.10);
    color: white;
    border-color: #7643D2 !important;

}

#selectionMenu option{
    background-color:rgba(3, 3, 3, 0.90);
}

#statusInput{
    top: 89px;
    width: 30%;
    left: 35%;
    position: absolute;
    background-color:rgba(3, 3, 3, 0.10);
    color: white;
    border-color: #7643D2 !important;

}

#statusInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
#location1{
    font-size: 25%;
    color: white;
}

.descriptionDiv1{
    /* background-color:rgba(3, 3, 3, 0.4); */
    width: 100%;
    height: 120%;
    top: 88.5%;
    z-index: 10;
    position: absolute;


}

.descriptionDiv7{
    background-color:#030303;
    width: 100%;
    height: 120%;
    top: 88.5%;
    z-index: 10;
    position: absolute;


}
.footerForHomeartist{
        position: relative;
        top: 1127px;
        left: 0px;
        z-index: 10;
    
}

.footerForHomeband{
    position: relative;
    top: 1127px;
    left: 0px;
    z-index: 10;

}
.captionbackground{
    background-color:rgba(3, 3, 3, 0.50);
    width: 100%;
    height: 3%;
    position: absolute;
    top: 1%;
    z-index: 100;




}
.caption1{
    color: #ffffff;
    font-family: Dosis;
    font-size: 32px;
    font-weight: 800;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed; */
    top: 10%;
    white-space: nowrap;
    width: 515px;
    position: absolute;
    left: 2%;
    z-index: 1000;
}
.description1{
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed;*/
    top:10%;
    width: 92%;
    position: absolute;
    left: 5%;
    z-index: 1000;
    text-align: justify;

}

.description2{
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed;*/
    top:20%;
    width: 92%;
    position: absolute;
    left: 5%;
    z-index: 1000;
    text-align: justify;

}


.descriptionDivoption{
     background-color: #000; 
    width: 100%;
    height: 120%;
    top: 88.5%;
    z-index: 10;
    position: absolute;
}

.eventcontainer{

    width: 90%;
    height: 80%;
    position: absolute;
    top: 60%;
    left: 7%;
    z-index: 100;

}


.descriptionDiv7 .eventcontainer{
    width: 90%;
    height: 80%;
    position: absolute;
    top: 35%;
    left: 7%;
    z-index: 100;

}

#statusInput1{
    top: -98px;
    width: 30%;
    left: 35%;
    position: absolute;
    background-color: rgba(3, 3, 3, 0.10);
    color: white;
    border-color: #7643D2 !important;
}

.eventcontainer .search-artist-container .search-container {

    
    /* position: relative;
    width: 150px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;*/
    background-color: #000000;
    /* border-radius: 10px;
    padding: 0.5rem; */ 

    
}
.eventOptioncontainer{

    width: 94%;
    height:63%;
    position: absolute;
    top: 40%;
    left: 2%;
    z-index: 100;

}


.map {
    width: 70%;
    height: 265px;
    position: absolute;
    top: 10%;
    left: 21%;

  }

  /* CSS for the embedded map iframe */
  .map iframe {
    width: 80%;
    height: 130%;
    border: none; /* Remove iframe border */
  }
  .ContactDetailsDiv{
    background-color: rgba(65, 65, 65, 0.563);
    height: 18%;
    position: absolute;
    top: 60%;
    width: 85%;
    left: 7%;
    right: 0%;
  }

  .footerForHomeContact {
    position: relative;
    top: 390px;
    left: 0px;
    z-index: 10;
}
 
  
  .contactItem {
    display: inline-block;
    text-align: center; /* Center the content horizontally if needed */
    margin-left:200px; /* Adjust the horizontal margin as per your requirement */
    margin-top: 30px; /* Add the desired fixed top margin for the images */
    vertical-align: top;
  }
  
  .location {
    
    width: 65px;
    height: 65px;
  
    
  }
  
  .imageText {
    display: block;
    font-family: 'Dosis-semibold'; 
    font-size: 25px;
    color:white;
    margin-top: 30px; /* Add the desired fixed top margin for the images */

  }
  
  