#backgroundimage{
  
    width: 100%;
    height: 50%;
    top: 0;
    position: absolute;
    left: 0;
    
  
}
.requestContainerForEvent .profile{

    position: relative;
    width: 55px;
    height: 55px;
    top: 21.5px;
    left: 145px;
}

.requestContainerForEvent{
    background-color: #161414;;
    height: 8%;
    width: 70%;
    position: relative;
    top: 187px;
    left: 25%;
    margin-bottom: 20px;
    border-radius: 25px;
    
  
}


.requestContainerForEvent .eventDetails {
    position: relative;
    color: white;
    font-size: 15px;
    text-align: center;
    top: -10px;
    left: 97px;
}

#tableEvent{
    top: 14%;
    left: 5%;
    font-family: Dosis;
    position: absolute;
    --bs-table-bg: none !important;
    font-size: 20px;
    width: 90%;
    text-align: center !important;
    



}
#firstTD{
    position: absolute;
    width:10px;
}

#eventImage{
   position: relative;
   width: 40%;
   display: block;
  
   
  

}
#LocationIcon{

    position: relative;
    right: 3%;
}

#tableEvent tr{
    width: 20%;
    height: 40%;
    text-align: center !important;
    border-bottom: #7643D2 solid 3px !important;

    
}

#tableEvent td{
    top: 5%;
    width: 20%;
    height: 30%;
    text-align: center;
    padding-top: 20px;
}

#selectionMenu{
    top: 6%;
    width: 10%;
    left: 30%;
    position: absolute;
    background-color:rgba(3, 3, 3, 0.10);
    color: white;
    border-color: #7643D2 !important;

}

#selectionMenu option{
    background-color:rgba(3, 3, 3, 0.90);
}

#statusInput{
    top: 6%;
    width: 30%;
    left: 44%;
    position: absolute;
    background-color:rgba(3, 3, 3, 0.10);
    color: white;
    border-color: #7643D2 !important;

}

#statusInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
#location1{
    font-size: 25%;
    color: white;
}

.descriptionDiv1{
    background-color:rgba(3, 3, 3, 0.4);
    width: 100%;
    height: 250%;
    top: 88.5%;
    z-index: 10;
    position: absolute;


}

.captionbackground{
    background-color:rgba(3, 3, 3, 0.50);
    width: 100%;
    height: 3%;
    position: absolute;
    top: 1%;
    z-index: 100;




}
.caption1{
    color: #ffffff;
    font-family: Dosis;
    font-size: 32px;
    font-weight: 800;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed; */
    top: 10%;
    white-space: nowrap;
    width: 515px;
    position: absolute;
    left: -8%;
    z-index: 1000;
}
.description1{
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed;*/
    top:9%;
    width: 92%;
    position: absolute;
    left: 5%;
    z-index: 1000;
}

.description2{
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed;*/
    top:15%;
    width: 92%;
    position: absolute;
    left: 5%;
    z-index: 1000;
}

.eventcontainer{

    background-color:rgba(3, 3, 3, 0.60);
    width: 94%;
    height:63%;
    position: absolute;
    top: 14%;
    left: -6%;
    z-index: 100;

}


