.eventTable{
    position: absolute;
    top: 48%;
    left: 39%;

}
#tableEvent {
    background-color: black;
    
}

#backgroundimage{
  
    width: 100%;
    height: 50%;
    top: 0;
    position: absolute;
    left: 0;
    
  
}

#tableEvent{
    top: 14%;
    left: 14%;
    font-family: Dosis;
    position: absolute;
    --bs-table-bg: none !important;
    font-size: 20px;
    width: 90%;
    text-align: center !important;
    

}
.eventList{
    display: flex;
    width: 216px;
    height: 65px;
    flex-direction: column;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 42px;
    left: 635px;
    z-index: 100;
}
#firstTD{
    position: absolute;
    width:10px;
}

#eventImage{
   position: relative;
   width: 40%;
   display: block;
}
#LocationIcon{

    position: absolute;
    right: 38%;
    margin-top: 4px;
}

#tableEvent tr{
    width: 20%;
    height: 40%;
    text-align: center !important;
    border-bottom: #7643D2 solid 3px !important;

    
}

#tableEvent td{
    top: 5%;
    width: 20%;
    height: 30%;
    text-align: center;
    padding-top: 20px;
}

#selectionMenu{
    top: 6%;
    width: 10%;
    left: 30%;
    position: absolute;
    background-color:rgba(3, 3, 3, 0.10);
    color: white;
    border-color: #7643D2 !important;

}

#selectionMenu option{
    background-color:rgba(3, 3, 3, 0.90);
}

#statusInput{
    top: 6%;
    width: 30%;
    left: 44%;
    position: absolute;
    background-color:rgba(3, 3, 3, 0.10);
    color: white;
    border-color: #7643D2 !important;

}

#statusInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
#location1{
    font-size: 25%;
    color: white;
}

.descriptionDiv1{
    background-color: #030303;
    width: 100%;
    height: 250%;
    top: 88.5%;
    z-index: 10;
    position: absolute;


}

.captionbackground{
    background-color:rgba(3, 3, 3, 0.50);
    width: 100%;
    height: 3%;
    position: absolute;
    top: 1%;
    z-index: 100;




}
.caption1{
    color: #ffffff;
    font-family: Dosis;
    font-size: 32px;
    font-weight: 800;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed; */
    top: 10%;
    white-space: nowrap;
    width: 515px;
    position: absolute;
    z-index: 1000;
}
.description1{
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed;*/
    top:6%;
    width: 92%;
    position: absolute;
    left: 5%;
    z-index: 1000;
}

.description2{
    color: #ffffff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed;*/
    top:10%;
    width: 92%;
    position: absolute;
    left: 5%;
    z-index: 1000;
}
.mainContainerForEventDisplay{
    background-color: rgba(3, 3, 3, 0.60);;
}

.eventTablecontainer{

    background-color: rgba(3, 3, 3, 0.60);
    width: 94%;
    height: 12%;
    position: absolute;
    top: 52%;
    left: 2%;
    z-index: 100;

}

.artistEventTablePagination{
    position: absolute !important;
    top: 480px !important;
    left: 699px !important;
}


