body {
    background-image: url('../images/backgroundForHome.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    z-index: 1000;
  }
.telno{
    display: flex;
    width: 227px;
    height: 22px;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 1.5%;
    left: 3%;
    z-index: 100;
}
.telIcon{
    width: 25.086px;
    height: 23.997px;
    flex-shrink: 0;
    color: #FEFEFE;
    position: absolute;
    top: 2.9%;
    left: 3.5%;
    z-index: 100;
}
.facebookIcon{
    width: 25.087px;
    height: 23.997px;
    flex-shrink: 0;
    color: #FDFDFD;
    position: absolute;
    top: 2.9%;
    left: 80.5%;
    z-index: 100;
    cursor: pointer;
}

.twitterIcon{
    width: 25.087px;
    height: 23.997px;
    flex-shrink: 0;
    color: #FDFDFD;
    position: absolute;
    top: 2.9%;
    left: 84.5%;
    z-index: 100;
    cursor: pointer;
    
}
.googlePlusIcon{
    width: 25.087px;
    height: 23.997px;
    flex-shrink: 0;
    color: #FDFDFD;
    position: absolute;
    top: 2.9%;
    left: 88.5%;
    z-index: 100;
    cursor: pointer;
}
.linkedInIcon{
    width: 25.087px;
    height: 23.997px;
    flex-shrink: 0;
    color: #FDFDFD;
    position: absolute;
    top: 2.9%;
    left: 92.5%;
    z-index: 100;
    cursor: pointer;
}
.caption{
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 49px;
    font-weight: 800;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed; */
    /* top: 0; */
    white-space: nowrap;
    width: 515px;
    position: absolute;
    top: 36%;
    left: 10%;
    z-index: 100;
}
.description{
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 21px;
    font-weight: 800;
    /* left: 0; */
    letter-spacing: 0;
    line-height: normal;
    /* position: fixed;
    top: 0; */
    width: 447px;
    position: absolute;
    top: 52%;
    left: 10%;
    z-index: 100;
}
.signupBtn{
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 35px;
    height: 46px;
    width: 169px;
    position: absolute;
    top: 67%;
    left: 19%;
    z-index: 100;
    background-color: transparent;

    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
   
}
.signupBtn:hover{
    background-color: black;
    border: 5px solid;
    border-color: black;
}

.headingArtist{
    display: flex;
    width: 216px;
    height: 65px;
    flex-direction: column;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 743px;
    left: 643px;
    z-index: 100;
}