.OrganizerDashboardMainContainer {
    color: white;
}

.UpcominEventsDiv {
    background-color: #2f363e;
    height: 330px;
    overflow-y: auto;
    border-radius: 10px;
}

.DashboardCalenderDiv {
    background-color: #2f363e;
    height: 300px;
    border-radius: 10px;
    width: 355px;
    transition: all .5s ease;
    margin-left: 5px;

}

.mainContainer-NX .DashboardCalenderDiv {
    width: 412px;
    transition: all .5s ease;
}

.PaymentsDiv {
    background-color: #2f363e;
    width: auto;
    height: 330px;
    margin-left: 10px;
    border-radius: 10px;
}