@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/Dosis-Regular.ttf') format('truetype');
    /* src: url('../../../assets/icons/dashboard.png') format('truetype'); */
    /* Add other font file formats and their paths here */
}

@font-face {
    font-family: 'MyCustomFont1';
    src: url('../fonts/Dosis-Bold.ttf') format('truetype');
    /* src: url('../../../assets/icons/dashboard.png') format('truetype'); */
    /* Add other font file formats and their paths here */
}

.eventDashboard_content_container {
    color: white;
}

.horizontalLine {
    background-color: #2f363e;

}

.horizontalLine span {
    margin-left: 40px;
}

.eventDescriptionDiv {
    margin-left: 35px;
    height: 240px;
    background-color: #2f363e;
    border-radius: 10px;
    width: 70%;
}

.eventImgDiv img {
    border-radius: 50%;
}

.eventDescDiv span {
    font-size: 18px;
    color: #F70F5D;
    font-weight: 600;
}

.eventDescDiv .eventDescInnerDiv {
    background-color: #1c2126;
    border-radius: 10px;
    height: 110px;
    opacity: 0.7;
    overflow-y: hidden;
}

.addTypeDescriptionDiv,
.locationTypeDescriptionDiv {
    height: 130px;
    background-color: #2f363e;
    border-radius: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.btnTypeDescriptionDiv,
.crowdTypeDescriptionDiv,
.eventTypeDescriptionDiv {
    height: 100px;
    background-color: #2f363e;
    border-radius: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
}

.btnTypeDescriptionDiv {
    height: 70px;
}

.requestTypeDescriptionDiv {
    margin-left: 35px;
    height: 310px;
    overflow-y: auto;
    background-color: #2f363e;
    border-radius: 10px;
    width: 70%;
}

#scrollbarStyle-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #1c2126;
}

#scrollbarStyle-1::-webkit-scrollbar {
    width: 10px;
    background-color: #1c2126;
}

#scrollbarStyle-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #7643D2;
}



.locationDescriptionDiv {
    /* background-color: antiquewhite; */
    height: auto;
    margin-left: 5px;
    width: 25%;
}

.descriptionIcon {
    color: white;
    opacity: 0.7;
    margin-left: 15px;
}

.descriptionIcon:hover {
    color: #7643D2;
}

.dateTimeDiv {
    background-color: #3e454c;
    opacity: 0.8;
    border-radius: 10px;
    height: 70px;
    margin-right: 10px;
    width: 48.5%;

}

.dateIcon {
    margin-top: 13px;
    color: #7643D2;
}

.timeIcon {
    margin-top: 13px;
    color: #F70F5D;
}

.dateIcon:hover,
.timeIcon:hover {
    color: white;
}