.date{
  
    background-color: #ffffff !important;
    position: absolute;
    font-size: 15px;
    width: 8%;
    height: 5%;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    border: none !important;
    left:32%;
    top: 218px;


}
.MainContainer body{

    text-align: center;

}

.back{
    background-color: #7643D2 !important;
    position: absolute;
    font-size: 15px;
    width: 7%;
    height: 6%;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    border: none !important;
    left: 85%;
    top: 80%;
 
}

.event_type{
    background-color: #ffffff !important;
    position: absolute;
    font-size: 15px;
    width: 8%;
    height: 5%;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    border: none !important;
    left: 42%;
    top: 218px;
}

.MainContainer{

    position: fixed;
    height: 100%;
    width: 100%;
    background: #24292D;

}

.filter{

    background: #ffffff !important;
    position: absolute; 
    font-size: 15px;
    width: 8%;
    height: 5%;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    border: none !important;
    left: 62%;
    top: 218px;
    --bs-btn-hover-color: #7643D2 !important;
    background-color: #7643D2 !important;

    

}

.download{
    background-color: #7643D2 !important;
    position: absolute;
    font-size: 15px;
    width: 8%;
    height: 5%;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    border: none !important;
    left: 85%;
    top: 84%;



}

.artistContainer{
height: 820px;
}


#CalenderReport{
position: relative;
left: -1%;
padding-right: 10px;
}


/* .ReportTable{
position: absolute;
top: 28%;
width: 60% !important;
left: 20%;
color: #ffffff !important;
background-color: none !important;
} */

/* .ReportTable label{
color: #ffffff;
}

.ReportTable select{

width: 50px;
left: 50px;
} */



#PriorBookingTable{
width: 80% !important;
position: absolute;
top: 35% !important;
left: 12.5% !important;



--bs-table-border:none ;
border-collapse: separate;
border-spacing: 0 15px;
background-color: none !important;
--bs-table-color: #ffffff !important;
--bs-table-color-type: none !important; 
justify-content: center;
--bs-table-bg: none !important;
text-align: center !important; 

}

#PriorBookingTable thead{

 --bs-table-bg: #000000;
 color: #ffffff !important;
}

#PriorBookingTable tbody{
--bs-table-bg:#373b3e !important;
}


#PriorBookingTable tr, td{

padding: 15px 10px 15px 10px !important;

margin: auto;
text-align: center !important;
height: 23px;

border: none;
--bs-table-color: #000000 !important;
--bs-table-color-type: none !important;  



}



#PriorBookingTable1{
    width: 80% !important;
    position: absolute;
    top: 25% !important;
    left: 12.5% !important;
    
    
    
    --bs-table-border:none ;
    border-collapse: separate;
    border-spacing: 0 15px;
    background-color: none !important;
    --bs-table-color: #ffffff !important;
    --bs-table-color-type: none !important; 
    justify-content: center;
    --bs-table-bg: none !important;
    text-align: center !important; 
    
    }
    
    #PriorBookingTable1 thead{
    
     --bs-table-bg: #000000;
     color: #ffffff !important;
    }
    
    #PriorBookingTable1 tbody{
    --bs-table-bg:#373b3e !important;
    }
    
    
    #PriorBookingTable1 tr, td{
    
    padding: 15px 10px 15px 10px !important;
    
    margin: auto;
    text-align: center !important;
    height: 23px;
    
    border: none;
    --bs-table-color: #000000 !important;
    --bs-table-color-type: none !important;  
    
    
    
    }

.addressDiv{
    color: #ffffff;
    position: absolute;
    top: 15%;
    left: 15%;
}

.addressDiv h3{
    position: relative;
    top: 0%;
    font-weight: 600;
    left: 250%;
}
.addressDiv .eventsOnDate {
    position: relative;
    top: 0%;
    font-weight: 600;
    left: 140%;
}

.addressDiv .organizer_tag{
    position: absolute;
    top: 61px !important;
    font-weight: 600;
    left: -40%;
}

.addressDiv .organizer_tag1{
    position: absolute;
    top: 61px !important;
    font-weight: 600;
    left: -40%;

}
.addressDiv .organizerName{
    position: relative;
    top: 20px;
    font-weight: 600;
    left: 30%;
    color: #11FE70;
}

.addressDiv .organizerName1{
    position: relative;
    top: 20px;
    font-weight: 600;
    left: 22%;
    color: #11FE70;
}
 #LocationIcon1{
    position: relative;
    margin-right: 5px;
}




