.requestContainerlog .profilelog {
    position: relative;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    top: 20.5px;
    left: 31px;
}

.requestContainerlog body {

    text-align: center;

}


.eventDetailslog {
    position: relative;
    color: white;
    font-size: 15px;
    text-align: center;
    top: -15px;

}

.eventDetailslog h5 {
    position: relative;
    top: -6px;
    width: 250px;
    margin-left: 6.5%;
}

.complaint-add-success-para_for_request_cancel {
    position: relative;
    top: 34px;
    left: 0px;
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
}

.reasonSubmit {
    background-color: #1BD067 !important;
    position: absolute;
    font-size: 15px;
    width: 24%;
    left: 63px;
    top: 150px;
    border: none !important;

}

.reasonCancel {
    border: 3px solid #FF0000 !important;
    background: none;
    position: absolute;
    font-size: 15px;
    width: 24%;
    left: 203px;
    top: 149px;

}

.reasonforCancalation {
    position: relative;
    top: 36px;
    left: 0px;
    font-size: 20px;

}

.eventDetailslog .eventDate {
    position: absolute;
    margin-top: -3.2%;
    left: 50%;
}

.eventDetailslog .eventType {
    position: absolute;
    margin-top: -3.2%;
    left: 325px;
}

.eventDetailslog .venue {
    position: absolute;
    margin-top: -3.6%;
    left: 62%;
    color: rgb(40, 220, 40);
    font-weight: bold;
    font-size: 18px;

}

/* .cancelBtn {
    /* background-color: #FF0303 !important;
    position: relative;
    font-size: 15px;
    width: 8%;
    height: 43px;
    font-weight: bold;
    text-align: center;
    color: white;
    left: 77%;
    top: -48.8px;
    border-radius: 10px;
    border: none !important;
    /* box-shadow: 4px 7px 10px rgba(0, 0, 0, .4) !important; */

.emptyMessageForRequestLog{

    position: relative;
    top: -60px;
    left: 0px;


}

.cancelBtnForRequestLog{
    background-color: #FF0303 !important;
    position: relative;
    font-size: 15px;
    width: 8%;
    height: 43px;
    font-weight: bold;
    text-align: center;
    color: white;
    left: 77%;
    top: -63.8px;
    border-radius: 10px;
    border: none !important;

}


.agreementBtn {
    background-color: #03ff70 !important;
    position: relative;
    font-size: 15px;
    width: 12%;
    height: 43px;
    font-weight: bold;
    text-align: center;
    color: white;
    left: 75%;
    top: -63.8px;
    border-radius: 10px;
    border: none !important;
    /* box-shadow: 4px 7px 10px rgba(0, 0, 0, .4) !important; */
}

.requestContainerlog {
    background-color: #3b444d;
    height: 94px;
    width: 70%;
    position: relative;
    top: 51px;
    left: 14%;
    margin-bottom: 20px;
    border-radius: 25px;

}

#LocationIconPendingRequest {

    position: relative;
    left: -1%;
    padding-right: 5px;

}



#EventIconPendingRequest {
    position: relative;
    left: -1%;
    padding-right: 10px;
}

#CalenderIconPendingRequest {
    position: relative;
    left: -1%;
    padding-right: 10px;

}




.pagination {

    position: absolute;
    top: 90%;
    left: 10%;


}