/* NX = not expanded */
@font-face {
	font-family: 'MyCustomFont';
	src: url('../fonts/Dosis-Regular.ttf') format('truetype');
	/* src: url('../../../assets/icons/dashboard.png') format('truetype'); */
	/* Add other font file formats and their paths here */
}

@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');


.side-menu-container {
	position: fixed;
	transition: all .5s ease;
	background-color: #2f363e;
	width: 260px;
	z-index: 99;
	top: 0;
	left: 0;
}

.side-menu-container-NX {
	width: 78px;
}

.menu-heading {
	height: 100px;
	position: relative;
}


.menubar-noncollapse-icon,
.menubar-collapse-icon {
	transform: translateY(-50%);
	font-size: 25px;
	text-align: center;
	cursor: pointer;
	transition: all .5s ease;
	top: 57%;
	right: 4%;
}

.menubar-collapse-icon {
	text-align: center;
	right: 30%;
	font-size: 27px;
}

.menu-icon {
	height: 20px;
	font-size: 20px;
	text-align: center;
	color: white;
	transition: all .5s ease;
}

.menu-item-profilePhoto-NX,
.menu-item-profilePhoto {
	border-radius: 50%;
}

.menu-item-profilePhoto-NX {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.menu-profilePName p {
	font-size: 18px;
}

.side-menu-container li {
	position: relative;
	margin: 2px 0;
	list-style: none;
	width: 90%;
}

.side-menu-container-NX li {
	position: relative;
	margin: 6px 0;
	list-style: none;
	width: 90%;
}


.side-menu-container li .tooltip {
	position: absolute;
	top: -20px;
	left: calc(100% + 15px);
	z-index: 3;
	background-color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	padding: 6px 14px;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	white-space: nowrap;
	opacity: 0;
	pointer-events: none;
}

.side-menu-container li:hover .tooltip {
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
	top: 50%;
	transform: translateY(-50%);
}

.side-menu-container .nav-link {
	height: 100%;
	width: 100%;
	background-color: #2f363e;
	position: relative;
	transition: all .5s ease;
	z-index: 12;
	color: white;
}


.side-menu-container .collapsed-nav-link {
	height: 100%;
	width: 100%;
}

.side-menu-container .nav-link:hover {
	transform: scale(1.125);
	color: white;
}


.side-menu-container .nav-link::after {
	content: "";
	position: absolute;
	width: 80%;
	height: 100%;
	transform: scaleX(0);
	background: linear-gradient(to right, #7643D2, #2f363e);
	border-radius: 10px;
	transition: 0.3s ease-in-out;
	transform-origin: left;
	z-index: -2;
}

.side-menu-container .nav-link:hover::after {
	transform: scaleX(1);
	color: #2f363e;
}