/* NX = not expanded */
@font-face {
	font-family: 'MyCustomFont';
	src: url('../fonts/Dosis-Regular.ttf') format('truetype');
	/* src: url('../../../assets/icons/dashboard.png') format('truetype'); */
	/* Add other font file formats and their paths here */
}

@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');


.side-menu-container {
	position: fixed;
	transition: all .5s ease;
	background-color: #2f363e;
	width: 260px;
	z-index: 99;
	top: 0;
	left: 0;
}

.side-menu-container-NX {
	width: 80px;
}

.sideIconDiv {
	background-color: #2f363e;
}

.menu-icon {
	height: 20px;
	font-size: 20px;
	text-align: center;
}

.menu-item-profilePhoto-NX,
.menu-item-profilePhoto {
	border-radius: 50%;
}


.menu-profilePName p {
	font-size: 18px;
}